* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, 'Lucida Grande', sans-serif;
}

body {
  margin: 0px;
  background: #9ee4ae;
}

h2,
h3 {
  margin: 0px;
}

#header {
  display: flex;
  justify-content: center;
  background-color: #5cda95;
}

#container {
  padding: 10px;
  background-color: #9ee4ae;
  display: flex;
  align-items: flex-start;
}

#analytics {
  margin-right: 5px;
  background-color: #edf5e1;
  /* border: 2px solid red; */
  border-radius: 1%;
  box-shadow: 1px 1px 5px black;
}

#analytics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #389683;
  color: #04386c;
  border-radius: 1%;
}

#analytics-list {
  width: 100%;
  padding: 5px;
}

#analytics-list div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

.workout {
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: #edf5e1;
  border-radius: 1%;
  box-shadow: 1px 1px 5px black;
}

.workout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #389683;
  color: #04386c;
  border-radius: 1%;
}

.workout div {
  padding: 5px;
}

.exercise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #04386c;
  border-radius: 1%;
}
